<div class="container">
    <div class="add-new-container">
        <div class="header">Equipment List</div>
        <section>
            <button class="add-button">Add New</button>
            <button class="export-button">Export</button>
        </section>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="equipment">Equipment Name</option>
                <option value="type">Type</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="equipment-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equip of listEquip">
                <td>{{equip.name}}</td>
                <td>{{equip.type}}</td>
                <td *ngIf="equip.status == 1">Available</td>
                <td *ngIf="equip.status == 2">Using</td>
                <td *ngIf="equip.status == 3">Maintaining</td>
                <td *ngIf="equip.status == 4">Unavailable</td>
                <td>{{equip.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
