<div class="container">
    <h1>Feedback</h1>
    <form method="post">
        <div class="form-group">
            <label for="ratingcourse">Rating Course</label>
            <div class="rating-stars">
                <input type="radio" id="course_star5" name="rating_course" value="5"><label
                    for="course_star5">&#9733;</label>
                <input type="radio" id="course_star4" name="rating_course" value="4"><label
                    for="course_star4">&#9733;</label>
                <input type="radio" id="course_star3" name="rating_course" value="3"><label
                    for="course_star3">&#9733;</label>
                <input type="radio" id="course_star2" name="rating_course" value="2"><label
                    for="course_star2">&#9733;</label>
                <input type="radio" id="course_star1" name="rating_course" value="1"><label
                    for="course_star1">&#9733;</label>
            </div>
        </div>

        <div class="form-group">
            <label for="ratingteacher">Rating Teacher</label>
            <div class="rating-stars">
                <input type="radio" id="teacher_star5" name="rating_teacher" value="5"><label
                    for="teacher_star5">&#9733;</label>
                <input type="radio" id="teacher_star4" name="rating_teacher" value="4"><label
                    for="teacher_star4">&#9733;</label>
                <input type="radio" id="teacher_star3" name="rating_teacher" value="3"><label
                    for="teacher_star3">&#9733;</label>
                <input type="radio" id="teacher_star2" name="rating_teacher" value="2"><label
                    for="teacher_star2">&#9733;</label>
                <input type="radio" id="teacher_star1" name="rating_teacher" value="1"><label
                    for="teacher_star1">&#9733;</label>
            </div>
        </div>

        <div class="form-group">
            <label for="ratingequipment">Rating Equipment</label>
            <div class="rating-stars">
                <input type="radio" id="equipment_star5" name="rating_equipment" value="5"><label
                    for="equipment_star5">&#9733;</label>
                <input type="radio" id="equipment_star4" name="rating_equipment" value="4"><label
                    for="equipment_star4">&#9733;</label>
                <input type="radio" id="equipment_star3" name="rating_equipment" value="3"><label
                    for="equipment_star3">&#9733;</label>
                <input type="radio" id="equipment_star2" name="rating_equipment" value="2"><label
                    for="equipment_star2">&#9733;</label>
                <input type="radio" id="equipment_star1" name="rating_equipment" value="1"><label
                    for="equipment_star1">&#9733;</label>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Description">
        </div>
        <div class="btn-container">
            <a href="#" class="btnClose">Close</a>
            <button type="submit">Add</button>
        </div>
    </form>
</div>