<div class="container">
    <div class="add-new-container">
        <div class="header">Teacher Class List</div>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="course">Course Name</option>
                <option value="class">Class Name</option>
                <option value="amount">Total Amount</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="teacher-class-table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Class Name</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Course name</td>
                <td>Class name</td>
                <td>24</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>Course name</td>
                <td>Class name</td>
                <td>24</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>Course name</td>
                <td>Class name</td>
                <td>24</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>Course name</td>
                <td>Class name</td>
                <td>24</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>Course name</td>
                <td>Class name</td>
                <td>24</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>