<div class="container">
    <div class="add-new-container">
        <div class="header">Equipment Report List</div>
        <section>
            <button (click)="goToCreateReport()" class="add-button">Add New</button>
        </section>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="room">Room</option>
                <option value="equipment">Equipment</option>
                <option value="assign">Assign To</option>
                <option value="sendtime">Send Time</option>
                <option value="slovetime">Solve Time</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="report-table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Equipment</th>
                <th>Assign To</th>
                <th>Send Time</th>
                <th>Solve Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of listReport">
                <td>{{report.room.roomNo}}</td>
                <td>{{report.equipment.name}}</td>
                <td>Role</td>
                <td>{{helperDate.formatDateYearMonthDayDate(report.sendTime)}}</td>
                <td *ngIf="report.closeTime">{{helperDate.formatDateYearMonthDayDate(report.closeTime)}}</td>
                <td *ngIf="!report.closeTime">Maintaining</td>
                <td *ngIf="report.status == 1">Opening</td>
                <td *ngIf="report.status == 2">Closed</td>
                <td *ngIf="report.status == 3">Deleted</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>