<div class="container">
    <div class="add-new-container">
        <div class="header">Equipment Report List</div>
        <!-- <section>
            <button class="add-button">Add New</button>
        </section> -->
    </div>
    <!-- <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="room">Room</option>
                <option value="equipment">Equipment</option>
                <option value="assign">Assign To</option>
                <option value="sendtime">Send Time</option>
                <option value="slovetime">Solve Time</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div> -->

    <table class="report-table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Equipment</th>
                <th>Send Time</th>
                <th>Solve Time</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of listReport">
                <td>{{report.roomId}}</td>
                <td>{{report.equipment.name}}</td>
                <td>{{helperDate.formatDateYearMonthDayDate(report.sendTime)}}</td>
                <td *ngIf="report.closeTime">{{helperDate.formatDateYearMonthDayDate(report.closeTime)}}</td>
                <td *ngIf="!report.closeTime">Maintaining</td>
                <td>{{report.description}}</td>
                <td *ngIf="report.status == 1">Open</td>
                <td *ngIf="report.status == 2">Close</td>
                <td *ngIf="report.status == 3">Delete</td>
                <td *ngIf="report.status == 1"><button class="btn-solve" style="border: none;">Solved</button></td>
                <td *ngIf="report.status != 1">None</td>
            </tr>
        </tbody>
    </table>
    <div id="pagination"
    *ngIf="listReport.length > 0">
    <ul class="list-ul" style="display: inline-flex;">
        <li (click)="movePage(currentPageIndex - 1)"
            *ngIf="currentPageIndex > 1"
            class="list-li">
            <fa-icon
                class="icon-page"
                [icon]="faAnglesLeft"></fa-icon>
        </li>
        <li *ngIf="currentPageIndex > 3"
            class="list-li">
            <button (click)="movePage(1)"
                class="button-move-page">
                {{1}}
            </button>
        </li>
        <li
            *ngIf="currentPageIndex > 4"
            class="list-li">
            <span
                class="w-full h-full flex justify-center items-center">...</span>
        </li>
        <li *ngIf="currentPageIndex > 2"
            class="w-8 h-full border-x text-ellipsis overflow-hidden border-x-gray-400 flex justify-center items-center cursor-pointer text-blue-400">
            <button
                (click)="movePage(currentPageIndex - 2)"
                class="button-move-page">
                {{currentPageIndex- 2}}
            </button>
        </li>
        <li *ngIf="currentPageIndex > 1"
            class="list-li">
            <button
                (click)="movePage(currentPageIndex - 1)"
                class="button-move-page">
                {{currentPageIndex- 1}}
            </button>
        </li>
        <li
            class="list-li">
            <button
                (click)="movePage(currentPageIndex)"
                class="button-move-page">
                {{currentPageIndex}}
            </button>
        </li>
        <li
            *ngIf="arrayTotalPage.length > 2 && currentPageIndex < arrayTotalPage.length - 1"
            class="list-li">
            <button
                (click)="movePage(currentPageIndex + 1)"
                class="button-move-page">
                {{currentPageIndex + 1}}
            </button>
        </li>
        <li
            *ngIf="arrayTotalPage.length > 3 && currentPageIndex < arrayTotalPage.length - 2"
            class="list-li">
            <button
                (click)="movePage(currentPageIndex + 2)"
                class="button-move-page">
                {{currentPageIndex + 2}}
            </button>
        </li>
        <li
            *ngIf="currentPageIndex < arrayTotalPage.length - 3"
            class="list-li">
            <span
                class="w-full h-full flex justify-center items-center">...</span>
        </li>
        <li *ngIf="currentPageIndex != arrayTotalPage.length"
            class="list-li">
            <button
                (click)="movePage(arrayTotalPage.length)"
                class="button-move-page">
                {{arrayTotalPage.length}}
            </button>
        </li>
        <li (click)="movePage(currentPageIndex + 1)"
            *ngIf="!(currentPageIndex == arrayTotalPage.length)"
            class="list-li">
            <fa-icon
                class="icon-page"
                [icon]="faAnglesRight"></fa-icon>
        </li>
    </ul>
</div>
</div>