<div class="container">
    <div class="add-new-container">
        <div class="header">Equipment Report List</div>
        <section>
            <button class="add-button">Add New</button>
        </section>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="room">Room</option>
                <option value="equipment">Equipment</option>
                <option value="assign">Assign To</option>
                <option value="sendtime">Send Time</option>
                <option value="slovetime">Solve Time</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="report-table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Equipment</th>
                <th>Assign To</th>
                <th>Send Time</th>
                <th>Solve Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of listReport">
                <td>{{report.roomId}}</td>
                <td>{{report.equipment.name}}</td>
                <td>Role</td>
                <td>{{report.equipment.equipmentActivities[0].operateTime}}</td>
                <td>{{report.equipment.equipmentActivities[0].finishedTime}}</td>
                <td *ngIf="report.status == 1">Open</td>
                <td *ngIf="report.status == 2">Close</td>
                <td *ngIf="report.status == 3">Delete</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <!--  -->
            <tr>
                <td>A001</td>
                <td>E Name</td>
                <td>Role</td>
                <td>2024-03-06 15:42:18</td>
                <td>2024-03-06 16:42:18</td>
                <td>Open</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>