<div class="container">
    <div class="add-new-container">
        <div class="header">Staff List</div>
        <section>
            <button class="add-button">Add New</button>
            <button class="export-button">Export</button>
        </section>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="fullname">Full Name</option>
                <option value="email">Email</option>
                <option value="birth">Birth Day</option>
                <option value="gender">Gender</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="employee-table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birth Day</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let staff of listStaff">
                <td>{{staff.fullName}}</td>
                <td>{{staff.email}}</td>
                <td>{{staff.phone}}</td>
                <td>{{staff.birthDay}}</td>
                <td *ngIf="staff.gender == 1">Male</td>
                <td *ngIf="staff.gender == 2">Female</td>
                <td *ngIf="staff.status == 1">Active</td>
                <td *ngIf="staff.status == 2">Inactive</td>
                <td style="display: flex;">
                    <button (click)="goToStaffDetail(staff.id)" style="padding-right: 10px; border: none; background-color: transparent; color: #1154b6;">Detail</button>
                    <a href="#" style="padding-left: 10px; border-left: 1px black solid;">Inactivate</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>