<div class="container">
    <div class="add-new-container">
        <div class="header">Teacher Feedback List</div>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="course">Course Name</option>
                <option value="class">Class Name</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="children-feedback-table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Class Name</th>
                <th>Course Rating</th>
                <th>Teacher Rating</th>
                <th>Equipment Rating</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feedback of listFeedback">
                <td>{{feedback.childrenClass.class.course.name}}</td>
                <td>{{feedback.childrenClass.class.name}}</td>
                <td>{{feedback.courseRating}}</td>
                <td>{{feedback.teacherRating}}</td>
                <td>{{feedback.equipmentRating}}</td>
                <td>
                    {{feedback.description}}
                </td>
            </tr>
        </tbody>
    </table>
</div>