<div class="container">
    <div class="add-new-container">
        <div class="header">Teacher Feedback List</div>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="course">Course Name</option>
                <option value="class">Class Name</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="children-feedback-table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Class Name</th>
                <th>Course Rating</th>
                <th>Teacher Rating</th>
                <th>Equipment Rating</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feedback of listFeedback">
                <td>{{feedback.childrenClass.class.course.name}}</td>
                <td>{{feedback.childrenClass.class.name}}</td>
                <td>{{feedback.courseRating}}</td>
                <td>{{feedback.teacherRating}}</td>
                <td>{{feedback.equipmentRating}}</td>
                <td>
                    {{feedback.description}}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="pagination"
        *ngIf="listFeedback.length > 0">
        <ul class="list-ul" style="display: inline-flex;">
            <li (click)="movePage(currentPageIndex - 1)"
                *ngIf="currentPageIndex > 1"
                class="list-li">
                <fa-icon
                    class="icon-page"
                    [icon]="faAnglesLeft"></fa-icon>
            </li>
            <li *ngIf="currentPageIndex > 3"
                class="list-li">
                <button (click)="movePage(1)"
                    class="button-move-page">
                    {{1}}
                </button>
            </li>
            <li
                *ngIf="currentPageIndex > 4"
                class="list-li">
                <span
                    class="w-full h-full flex justify-center items-center">...</span>
            </li>
            <li *ngIf="currentPageIndex > 2"
                class="w-8 h-full border-x text-ellipsis overflow-hidden border-x-gray-400 flex justify-center items-center cursor-pointer text-blue-400">
                <button
                    (click)="movePage(currentPageIndex - 2)"
                    class="button-move-page">
                    {{currentPageIndex- 2}}
                </button>
            </li>
            <li *ngIf="currentPageIndex > 1"
                class="list-li">
                <button
                    (click)="movePage(currentPageIndex - 1)"
                    class="button-move-page">
                    {{currentPageIndex- 1}}
                </button>
            </li>
            <li
                class="list-li">
                <button
                    (click)="movePage(currentPageIndex)"
                    class="button-move-page">
                    {{currentPageIndex}}
                </button>
            </li>
            <li
                *ngIf="arrayTotalPage.length > 2 && currentPageIndex < arrayTotalPage.length - 1"
                class="list-li">
                <button
                    (click)="movePage(currentPageIndex + 1)"
                    class="button-move-page">
                    {{currentPageIndex + 1}}
                </button>
            </li>
            <li
                *ngIf="arrayTotalPage.length > 3 && currentPageIndex < arrayTotalPage.length - 2"
                class="list-li">
                <button
                    (click)="movePage(currentPageIndex + 2)"
                    class="button-move-page">
                    {{currentPageIndex + 2}}
                </button>
            </li>
            <li
                *ngIf="currentPageIndex < arrayTotalPage.length - 3"
                class="list-li">
                <span
                    class="w-full h-full flex justify-center items-center">...</span>
            </li>
            <li *ngIf="currentPageIndex != arrayTotalPage.length"
                class="list-li">
                <button
                    (click)="movePage(arrayTotalPage.length)"
                    class="button-move-page">
                    {{arrayTotalPage.length}}
                </button>
            </li>
            <li (click)="movePage(currentPageIndex + 1)"
                *ngIf="!(currentPageIndex == arrayTotalPage.length)"
                class="list-li">
                <fa-icon
                    class="icon-page"
                    [icon]="faAnglesRight"></fa-icon>
            </li>
        </ul>
    </div>
</div>