@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.sidebar-container {
    position: relative;
}

.sidebar {
    background: #007bff;
    transition: all .5s;
    max-width: 1000px;
    width: 15%;
    height: 100vh;
}

.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
    border-right: 0;
}

.content {
    position: absolute;
}

.content button {
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 2px;
}

.content button div {
    width: 20px;
    height: 3px;
    background-color: aliceblue;
    margin: 3px 0;
}

#head {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

#head .logo {
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    padding-right: 15px;
    color: aliceblue;
}

.list {
    list-style: none;
    padding: 5px 0;
}

.list li {
    margin: 5px;
    padding: 5px 35px;
}

.list li:hover {
    border-radius: 5px;
    background-color: #0056b3;
}

.list a {
    text-decoration: none;
    color: aliceblue;
}

.list li:last-child {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 110px;
}
