<div class="sidebar-container" style="display: flex;">
    <div class="sidebar" id="sidebar">
        <div id="head">
            <p class="logo">OCEMS</p>
        </div>
        <ul class="list">
            <li><a href="#">Schedule</a></li>
            <li><a href="/children">Classes</a></li>
            <li><a href="/children/transcript">Academic Transcripts</a></li>
            <li><a href="/children/feedback">Feedbacks</a></li>
            <li><a href="/children/profile">Profile</a></li>
            <li><button (click)="logout()" style="border: none; background-color: transparent; color: white;">Logout</button></li>
        </ul>
    </div>
    <div style="width: 85%;">
        <router-outlet></router-outlet>
    </div>
</div>