<!-- <div class="wrapper">
    <div class="nav-left">
        <div class="logo-center">OCEMS</div>
        <div class="navigation">
            <div class="info">Information</div>
            <div>Schedule</div>
            <div>Classes</div>
            <div>Feedbacks</div>
        </div>
    </div>
    <div class="content-nav-top">
        <div class="nav-top">
            <div class="option">
                <div class="alarm-icon">
                    <fa-icon [icon]="faBell"></fa-icon>
                    <div class="number-notion">3</div>
                    <div class="dropdown-notion">
                        <div style="background-color: #4E73DF;
                         color: white; 
                         font-size: 12px;
                         font-weight: 700;
                         display: flex;
                         align-items: center;
                         padding: 10px 0 10px 10px;
                         border-top-left-radius: 10px;
                         border-top-right-radius: 10px;
                         ">ALERTS CENTER</div>
                        <div class="notion">
                            <div class="icon-type">
                                <div class="wrapper-icon-type">
                                    <fa-icon [icon]="faFile"></fa-icon>
                                </div>
                            </div>
                            <div class="text-notion">
                                <div class="time-notion">
                                    December 12, 2019
                                </div>
                                <div class="message-notion">
                                    A new monthly report is ready to download!
                                </div>
                            </div>
                        </div>
                        <div class="notion">
                            <div class="icon-type">
                                <div class="wrapper-icon-type">
                                    <fa-icon [icon]="faFile"></fa-icon>
                                </div>
                            </div>
                            <div class="text-notion">
                                <div class="time-notion">
                                    December 12, 2019
                                </div>
                                <div class="message-notion">
                                    A new monthly report is ready to download!
                                </div>
                            </div>
                        </div>
                        <div class="notion">
                            <div class="icon-type">
                                <div class="wrapper-icon-type">
                                    <fa-icon [icon]="faFile"></fa-icon>
                                </div>
                            </div>
                            <div class="text-notion">
                                <div class="time-notion">
                                    December 12, 2019
                                </div>
                                <div class="message-notion">
                                    A new monthly report is ready to download!
                                </div>
                            </div>
                        </div>
                        <div class="show-more-alert">
                            Show all alerts
                        </div>
                    </div>

                </div>
                <div class="name-avatar">
                    <div class="name">Username</div>
                    <div class="avatar">
                        <img
                            src="https://i.pinimg.com/564x/40/2f/c9/402fc9d45f5639f70aef07e4ffcc619b.jpg"
                            alt>
                    </div>
                    <div class="dropdown-person">
                        <div class="profile" style="padding: 5px 20px;">
                            <fa-icon [icon]="faUser"></fa-icon>
                            <span style="margin: 0 0 0 10px;">Profile</span>
                        </div>
                        <div class="logout"
                            style="padding: 5px 20px; border-top: 1px gray solid;">
                            <fa-icon [icon]="faRightFromBracket"></fa-icon>
                            <span style="margin: 0 0 0 10px;">Logout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="sidebar-container">
    <div class="sidebar" id="sidebar">
        <div id="head">
            <p class="logo">OCEMS</p>
        </div>
        <ul class="list">
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="#">Academic Transcripts</a></li>
            <li><a href="#">Feedbacks</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
</div>