body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 40%;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    font-weight: bold;
    width: 15%;
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.btnClose {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnClose:hover {
    background-color: #fff;
    color: #0056b3;
}

.profile-container {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

#profile-image-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

#course-picture {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 5%;
}

.checkbox-group input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}

.checkbox-group section {
    display: inline-block;
    margin-right: 20px;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.form-feedback {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-feedback label {
    font-weight: bold;
    width: 30%;
    flex-shrink: 0;
}

.form-feedback input {
    width: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
}

table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container select {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
}

.filter-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #0056b3;
}

.add-new-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-container input {
    flex: 1;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
}

.search-button {
    width: auto;
}

.search-button:hover {
    background-color: #0056b3;
}

.header {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.equipment-table th:first-child,
.equipment-table td:first-child {
    width: 50%;
}

.equipment-table th:last-child,
.equipment-table td:last-child {
    width: 15%;
}

.equipment-table th:nth-child(2),
.equipment-table td:nth-child(2) {
    width: 35%;
}

.activity-table th:first-child,
.activity-table td:first-child,
.activity-table th:nth-child(2),
.activity-table td:nth-child(2),
.activity-table th:nth-child(4),
.activity-table td:nth-child(4) {
    width: 25%;
}

.activity-table th:last-child,
.activity-table td:last-child,
.activity-table th:nth-child(5),
.activity-table td:nth-child(5) {
    width: 10%;
}

.activity-table th:nth-child(3),
.activity-table td:nth-child(3) {
    width: 15%;
}

.children-table th:nth-child(2),
.children-table td:nth-child(2),
.children-table th:last-child,
.children-table td:last-child {
    width: 25%;
}

.children-table th:first-child,
.children-table td:first-child {
    width: 50%;
}

.teacher-children-table th:nth-child(2),
.teacher-children-table td:nth-child(2),
.teacher-children-table th:last-child,
.teacher-children-table td:last-child {
    width: 10%;
}

.teacher-children-table th:first-child,
.teacher-children-table td:first-child {
    width: 20%;
}

.parent-children-table th:nth-child(4),
.parent-children-table td:nth-child(4),
.parent-children-table th:nth-child(5),
.parent-children-table td:nth-child(5),
.parent-children-table th:last-child,
.parent-children-table td:last-child {
    width: 12.5%;
}

.parent-children-table th:first-child,
.parent-children-table td:first-child,
.parent-children-table th:nth-child(2),
.parent-children-table td:nth-child(2),
.parent-children-table th:nth-child(3),
.parent-children-table td:nth-child(3) {
    width: 20.8%;
}

.transcript-table th,
.transcript-table td {
    width: 50%;
}

.transcript-table td {
    text-align: right;
}