<div class="sidebar-container" style="display: flex;">
    <div class="sidebar" id="sidebar">
        <div id="head">
            <p class="logo">OCEMS</p>
        </div>
        <ul class="list">
            <li><a href="/staff/room">Rooms</a></li>
            <li><a href="#">Equipments</a></li>
            <li><a href="#">Equipment Activities</a></li>
            <li><a href="/staff">Equipment Reports</a></li>
            <li><a href="#">Profile</a></li>
            <li><button (click)="logout()" style="border: none; background-color: transparent; color: white;"   >Logout</button></li>
        </ul>
    </div>
    <div style="width: 85%;">
        <router-outlet></router-outlet>
    </div>
</div>
