<div class="sidebar-container">
    <div class="sidebar" id="sidebar">
        <div id="head">
            <p class="logo">OCEMS</p>
        </div>
        <ul class="list">
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Equipments</a></li>
            <li><a href="#">Equipment Activities</a></li>
            <li><a href="#">Equipment Reports</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
