<div style="display: flex;">

    <div class="container">
        <h1>Course detail</h1>
        <!-- <div class="profile-container">
            <img id="profile-picture"
                src="https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w600/2023/10/free-images.jpg"
                alt="Profile Picture">
        </div> -->
        <div>
            <div class="form-group">
                <span style="font-weight: 700; font-size: 18px">Course Name: </span>
                <span>{{course.name}}</span>
            </div>
            <div class="form-group">
                <span style="font-weight: 700; font-size: 18px">Description:</span>
                <span style="width: 100%;"> {{course.description}}</span>
            </div>
            <div class="form-group">
                <span style="font-weight: 700; font-size: 18px">Open form time: </span>
                <span>{{helperDate.formatDateYearMonthDayDateddMMyyyy(course.openFormTime)}}</span>
            </div>
            <div class="form-group">
                <span style="font-weight: 700; font-size: 18px">Close form time: </span>
                <span>{{helperDate.formatDateYearMonthDayDateddMMyyyy(course.closeFormTime)}}</span>
            </div>
            <div class="form-group">
                <span style="font-weight: 700; font-size: 18px;">Price: </span><span>${{course.price}}</span>
            </div>
            <div class="form-group">
                <span style="font-weight: 700; font-size: 18px;">Total slot: </span><span>{{course.totalSlot}}</span>
            </div>
            <select style="margin-bottom: 20px;">
                <option selected hidden>Choose children</option>
                <option value="{{child.id}}" *ngFor="let child of listChild">{{child.fullName}}</option>
            </select>
            <button style="padding: 5px 10px; text-align: center;" [disabled]="isDisable" [ngClass]="{'ban': isDisable}">Register</button>
        </div>
    </div>
    <div class="container" style="height: fit-content !important;">
        <h1>Feedback</h1>
        <table class="course-table">
            <thead>
                <tr>
                    <!-- <th>Course Name</th> -->
                    <th style="text-align: center;">Course Rating</th>
                    <th style="text-align: center;">Teacher Rating</th>
                    <th style="text-align: center;">Equipment Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listFeedback" style="border-bottom: 1px gray solid;">
                    <!-- <td>{{course.name}}</td> -->
                    <td>
                        <div class="rating-stars">
                            <input type="radio" [checked]="item.courseRating == 5" value="5"><label
                                for="course_star5">&#9733;</label>
                            <input type="radio" [checked]="item.courseRating == 4" value="4"><label
                                for="course_star4">&#9733;</label>
                            <input type="radio" [checked]="item.courseRating == 3" value="3"><label
                                for="course_star3">&#9733;</label>
                            <input type="radio" [checked]="item.courseRating == 2" value="2"><label
                                for="course_star2">&#9733;</label>
                            <input type="radio" [checked]="item.courseRating == 1" value="1"><label
                                for="course_star1">&#9733;</label>
                        </div>
                    </td>
                    <td>
                        <div class="rating-stars">
                            <input type="radio" [checked]="item.teacherRating == 5" value="5"><label
                                for="course_star5">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 4" value="4"><label
                                for="course_star4">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 3" value="3"><label
                                for="course_star3">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 2" value="2"><label
                                for="course_star2">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 1" value="1"><label
                                for="course_star1">&#9733;</label>
                        </div>
                    </td>
                    <td>
                        <div class="rating-stars">
                            <input type="radio" [checked]="item.teacherRating == 5" value="5"><label
                                for="course_star5">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 4" value="4"><label
                                for="course_star4">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 3" value="3"><label
                                for="course_star3">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 2" value="2"><label
                                for="course_star2">&#9733;</label>
                            <input type="radio" [checked]="item.teacherRating == 1" value="1"><label
                                for="course_star1">&#9733;</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>