<div class="container">
    <div class="add-new-container">
        <div class="header">Payment List</div>
        <section>
            <button class="export-button">Export</button>
        </section>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="course">Course Name</option>
                <option value="day">Prcess Day</option>
                <option value="method">Method</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="payment-table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Process Day</th>
                <th>Method</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A Name</td>
                <td>2024-03-08 15:30:00</td>
                <td>Banking</td>
                <td>Paid</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>2024-03-08 15:30:00</td>
                <td>Banking</td>
                <td>Paid</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>2024-03-08 15:30:00</td>
                <td>Banking</td>
                <td>Paid</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>2024-03-08 15:30:00</td>
                <td>Banking</td>
                <td>Paid</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>2024-03-08 15:30:00</td>
                <td>Banking</td>
                <td>Paid</td>
                <td>
                    <a href="#">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>