<div class="sidebar-container" style="display: flex; height: 100%;">
    <div class="sidebar" id="sidebar">
        <div id="head">
            <p class="logo">OCEMS</p>
        </div>
        <ul class="list">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/manager/staff">Staffs</a></li>
            <li><a href="/manager/teacher">Teachers</a></li>
            <li><a href="/manager/parent">Parents</a></li>
            <li><a href="/manager/children">Children</a></li>
            <li><a href="/manager/course">Courses</a></li>
            <li><a href="/manager/class">Classes</a></li>
            <li><a href="/manager/feedback">Feedbacks</a></li>
            <li><a href="/manager/room">Rooms</a></li>
            <li><a href="/manager/equipment">Equipments</a></li>
            <li><a href="/manager">Equipment Activities</a></li>
            <li><a href="/manager/report">Equipment Reports</a></li>
            <li><a href="/manager/payment">Payments</a></li>
            <li><a href="#">Profile</a></li>
            <li><button (click)="logout()" style="border: none; background-color: transparent; color: white;">Logout</button></li>
        </ul>
    </div>
    <div style="width: 85%;">
        <router-outlet></router-outlet>
    </div>
</div>
