<div class="sidebar-container">
    <div class="sidebar" id="sidebar">
        <div id="head">
            <p class="logo">OCEMS</p>
        </div>
        <ul class="list">
            <li><a href="#">Admins</a></li>
            <li><a href="#">Staffs</a></li>
            <li><a href="#">Teachers</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Children</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="#">Feedbacks</a></li>
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Equipments</a></li>
            <li><a href="#">Equipment Activities</a></li>
            <li><a href="#">Equipment Reports</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
