<div class="sidebar-container">
    <div class="sidebar" id="sidebar">
        <div id="head">
            <p class="logo">OCEMS</p>
        </div>
        <ul class="list">
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Children</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Feedbacks</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
