<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"></script>
<div class="wrapper" 
style="width: 100%; 
height: 100vh; display: flex; 
justify-content: center; 
align-items: center;">
    <div class="login-box">
        <div class="login-header">
            <header>Create An Account</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" id="fullname" autocomplete="off" required>
            <label for="fullname">Full Name</label>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" id="email" autocomplete="off" required>
            <label for="email">Email</label>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" id="password" autocomplete="off" required>
            <label for="password">Password</label>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" id="confirmpassword" autocomplete="off" required>
            <label for="confirmpassword">Confirm Password</label>
        </div>
        <div class="input-box">
            <input type="tel" class="input-field" id="phone" autocomplete="off" required>
            <label for="phone">Phone</label>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" id="birth" autocomplete="off" required>
            <label for="birth">Birth Date</label>
        </div>
        <div class="input-box">
            Gender:
            <select name="role" class="input-field" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div>
            <button class="sign-in" type="submit">Register</button>
        </div>
        <div class="middle-text">
            <hr>
            <p class="or-text">Or</p>
        </div>
        <div>
            <button class="sign-in-google" type="submit">
                <i class="fab fa-google fa-fw"></i> Register With Google
            </button>
        </div>
        <div class="sign-up">
            <p>Already have an account <a href="login.html">Login</a></p>
        </div>
        <br>
    </div>
</div>