<div class="container">
    <div class="add-new-container">
        <div class="header">Equipment Report List</div>
        <section>
            <button class="export-button">Export</button>
        </section>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="course">Room No</option>
                <option value="class">Floor</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="room-table">
        <thead>
            <tr>
                <th>Room No</th>
                <th>Floor</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of listRoom">
                <td>{{room.roomNo}}</td>
                <td>{{room.floor}}</td>
                <td>
                    <select class="form-control dropdown-custom">
                        <option value="free" [selected]="room.status == 1">Free</option>
                        <option value="using" [selected]="room.status == 2">Using</option>
                        <option value="maintaining" [selected]="room.status == 3" >Maintaining</option>
                    </select>
                </td>
                <td>
                    <a href="#" style="padding-right: 10px;">Detail</a>
                    <a href="#" style="padding-left: 10px; border-left: 1px black solid;">Update</a>
                </td>
            </tr>
            <!--  -->
            <tr>
                <td>A001</td>
                <td>1</td>
                <td>
                    <select class="form-control dropdown-custom">
                        <option value="free">Free</option>
                        <option value="using">Using</option>
                        <option value="maintaining">Maintaining</option>
                    </select>
                </td>
                <td>
                    <a href="#" style="padding-right: 10px;">Detail</a>
                    <a href="#" style="padding-left: 10px; border-left: 1px black solid;">Update</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>