<div class="container">
    <div class="add-new-container">
        <div class="header">Equipment Report List</div>
        <!-- <section>
            <button class="export-button">Export</button>
        </section> -->
    </div>
    <!-- <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="course">Room No</option>
                <option value="class">Floor</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div> -->

    <table class="room-table">
        <thead>
            <tr>
                <th>Room No</th>
                <th>Floor</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of listRoom">
                <td>{{room.roomNo}}</td>
                <td>{{room.floor}}</td>
                <!-- <td>
                    <select class="form-control dropdown-custom">
                        <option value="free" [selected]="room.status == 1">Free</option>
                        <option value="using" [selected]="room.status == 2">Using</option>
                        <option value="maintaining" [selected]="room.status == 3" >Maintaining</option>
                    </select>
                </td> -->
                <td *ngIf="room.status == 1">Free</td>
                <td *ngIf="room.status == 2">Using</td>
                <td *ngIf="room.status == 3">Maintaining</td>
                <td>
                    <button style="padding-right: 10px; border: none; background-color: transparent; color: #007bff;" (click)="gotoDetailRoom(room.id)">Detail</button>
                    <!-- <a href="#" style="padding-left: 10px; border-left: 1px black solid;">Update</a> -->
                </td>
            </tr>
        </tbody>
    </table>
    <div id="pagination"
    *ngIf="listRoom.length > 0">
    <ul class="list-ul" style="display: inline-flex;">
        <li (click)="movePage(currentPageIndex - 1)"
            *ngIf="currentPageIndex > 1"
            class="list-li">
            <fa-icon
                class="icon-page"
                [icon]="faAnglesLeft"></fa-icon>
        </li>
        <li *ngIf="currentPageIndex > 3"
            class="list-li">
            <button (click)="movePage(1)"
                class="button-move-page">
                {{1}}
            </button>
        </li>
        <li
            *ngIf="currentPageIndex > 4"
            class="list-li">
            <span
                class="w-full h-full flex justify-center items-center">...</span>
        </li>
        <li *ngIf="currentPageIndex > 2"
            class="w-8 h-full border-x text-ellipsis overflow-hidden border-x-gray-400 flex justify-center items-center cursor-pointer text-blue-400">
            <button
                (click)="movePage(currentPageIndex - 2)"
                class="button-move-page">
                {{currentPageIndex- 2}}
            </button>
        </li>
        <li *ngIf="currentPageIndex > 1"
            class="list-li">
            <button
                (click)="movePage(currentPageIndex - 1)"
                class="button-move-page">
                {{currentPageIndex- 1}}
            </button>
        </li>
        <li
            class="list-li">
            <button
                (click)="movePage(currentPageIndex)"
                class="button-move-page">
                {{currentPageIndex}}
            </button>
        </li>
        <li
            *ngIf="arrayTotalPage.length > 2 && currentPageIndex < arrayTotalPage.length - 1"
            class="list-li">
            <button
                (click)="movePage(currentPageIndex + 1)"
                class="button-move-page">
                {{currentPageIndex + 1}}
            </button>
        </li>
        <li
            *ngIf="arrayTotalPage.length > 3 && currentPageIndex < arrayTotalPage.length - 2"
            class="list-li">
            <button
                (click)="movePage(currentPageIndex + 2)"
                class="button-move-page">
                {{currentPageIndex + 2}}
            </button>
        </li>
        <li
            *ngIf="currentPageIndex < arrayTotalPage.length - 3"
            class="list-li">
            <span
                class="w-full h-full flex justify-center items-center">...</span>
        </li>
        <li *ngIf="currentPageIndex != arrayTotalPage.length"
            class="list-li">
            <button
                (click)="movePage(arrayTotalPage.length)"
                class="button-move-page">
                {{arrayTotalPage.length}}
            </button>
        </li>
        <li (click)="movePage(currentPageIndex + 1)"
            *ngIf="!(currentPageIndex == arrayTotalPage.length)"
            class="list-li">
            <fa-icon
                class="icon-page"
                [icon]="faAnglesRight"></fa-icon>
        </li>
    </ul>
</div>
</div>