<div class="container">
    <h1>Equipment Report</h1>
    <span style="color: red;" *ngIf="messageCreate != ''">{{messageCreate}}</span>
    <form [formGroup]="createReportFrom" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="roomno">Room No</label>
            <select formControlName="roomId" (change)="getEquipment($event.target)">
                <option selected hidden value="">Room No</option>
                <option *ngFor="let room of listRoom" value="{{room.id}}">{{room.roomNo}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="equipmentname">Equipment</label>
            <select formControlName="equipmentId">
                <option selected hidden value="">Equipment</option>
                <option *ngFor="let equipment of listEquipment" value="{{equipment.id}}">{{equipment.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Description" formControlName="description">
        </div>
        <div class="btn-container">
            <a href="/teacher/report" class="btnClose">Close</a>
            <button type="submit" [disabled]="createReportFrom.invalid">Add</button>
        </div>
    </form>
</div>