<div class="container">
    <div class="add-new-container">
        <div class="header">Teacher List</div>
        <section>
            <button class="add-button">Add New</button>
            <button class="export-button">Export</button>
        </section>
    </div>
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="filter-container">
            <select>
                <option value="fullname">Full Name</option>
                <option value="email">Email</option>
                <option value="birth">Birth Day</option>
                <option value="gender">Gender</option>
                <option value="status">Status</option>
            </select>
            <select>
                <option value="all">Default</option>
                <option value="active">Inscreasing</option>
                <option value="inactive">Descreasing</option>
            </select>
            <button class="filter-button">Filter</button>
        </div>
    </div>

    <table class="employee-table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birth Day</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A Name</td>
                <td>e@gamil.com</td>
                <td>0123456789</td>
                <td>2024-03-06</td>
                <td>Gender</td>
                <td>Active</td>
                <td>
                    <a href="#">Detail</a>
                    <a href="#">Inactivate</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>e@gamil.com</td>
                <td>0123456789</td>
                <td>2024-03-06</td>
                <td>Gender</td>
                <td>Active</td>
                <td>
                    <a href="#">Detail</a>
                    <a href="#">Inactivate</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>e@gamil.com</td>
                <td>0123456789</td>
                <td>2024-03-06</td>
                <td>Gender</td>
                <td>Active</td>
                <td>
                    <a href="#">Detail</a>
                    <a href="#">Inactivate</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>e@gamil.com</td>
                <td>0123456789</td>
                <td>2024-03-06</td>
                <td>Gender</td>
                <td>Active</td>
                <td>
                    <a href="#">Detail</a>
                    <a href="#">Inactivate</a>
                </td>
            </tr>
            <tr>
                <td>A Name</td>
                <td>e@gamil.com</td>
                <td>0123456789</td>
                <td>2024-03-06</td>
                <td>Gender</td>
                <td>Active</td>
                <td>
                    <a href="#">Detail</a>
                    <a href="#">Inactivate</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>