<div class="container">
    <h1>Create Children</h1>
    <div class="profile-container">
        <img id="profile-picture" src="https://img.freepik.com/free-vector/abstract-smooth-liquid-banner-presentation-backdrop_1017-42992.jpg?w=1060&t=st=1710517150~exp=1710517750~hmac=5a64f8987bca6a1ee1faa394ad1eea2a0896d29bfb2e85d50a0124f96a9d0b3a" alt="Profile Picture">
        <input type="file" id="profile-image-upload" accept="image/*">
    </div>
    <div style="text-align: center; color: red; font-size: 18px; font-weight: 700;" *ngIf="massageCreate != ''">{{massageCreate}}</div>
    <form [formGroup]="createChildrenForm" (ngSubmit)="submitCreate()">
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text"  placeholder="Full Name" formControlName="fullName"
            [ngClass]="{'invalid' : createChildrenForm.get('fullName')?.invalid && createChildrenForm.get('fullName')?.touched}" >
        </div>
        <div class="form-group">
            <label for="fullname">Username</label>
            <input type="text"  placeholder="Username" formControlName="username"
            [ngClass]="{'invalid' : createChildrenForm.get('username')?.invalid && createChildrenForm.get('username')?.touched}" >
        </div>
        <div class="form-group">
            <label for="fullname">Password</label>
            <input type="password"  placeholder="Password" formControlName="password"
            [ngClass]="{'invalid' : createChildrenForm.get('password')?.invalid && createChildrenForm.get('password')?.touched}" >
        </div>
        <div class="form-group">
            <label for="birth">Birth Day</label>
            <input type="date" id="birth" name="birth" class="date-input" min="2005-01-01" max="2019-03-15" placeholder="dd/mm/yyyy"
            formControlName="birthDay"
            [ngClass]="{'invalid' : createChildrenForm.get('birthDay')?.invalid && createChildrenForm.get('birthDay')?.touched}">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select name="gender" id="gender" formArrayName="gender">
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
            </select>
        </div>
        <div class="btn-container">
            <a href="/parent" class="btnClose">Close</a>
            <button type="submit" [disabled]="createChildrenForm.invalid">Add</button>
        </div>
    </form>
</div>